Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la

/gtk-doc.make

/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/autom4te.cache
/m4

/src/cities.compiled
/src/geonames-mkdb
/src/geonames-resources.c
/src/geonames.pc

/tests/*.log
/tests/*.trs
/tests/test-geonames

/demo/geonames-demo
